<h1>Welcome!</h1>
<p>The language used in this application is: <strong><%= locale(I18n.locale) %></strong> </p>
<p> <strong> Today is: </strong> <%= I18n.l(Date.today) %> </p>
<p><%= I18n.t('hello')%></p>

<%= render "menu" %>

<p> You are in mode <strong><%= ambiente_rails %></strong> </p>

<p>My name is <%= @my_name %> </p>
<p> I am studying <%= @course %> </p>
 






