<h1>Welcome!</h1>
<p><b>Data:</b> <%= data_br(Date.today) %></p>

<%= render "menu" %>

<p> You are in mode <strong><%= ambiente_rails %></strong> </p>

<p>My name is <%= @my_name %> </p>
<p> I am studying <%= @course %> </p>
 






