<p><%= link_to 'Português', root_path(locale: 'pt-BR')%></p>

<p><%=link_to 'Inglês', root_path(locale: 'en')%></p>

<h1>Welcome!</h1>
<p>The language used in this application is: <strong><%= locale(I18n.locale) %></strong> </p>
<p> <strong> Today is: </strong> <%= l(Date.today) %> </p>
<p><%= t('hello')%></p>

<%= render "menu" %>

<p> You are in mode <strong><%= ambiente_rails %></strong> </p>

<p>My name is <%= @my_name %> </p>
<p> I am studying <%= @course %> </p>
 






